.about-wrapper {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;
    font-size: large;
}

.about-center-wrapper {
    text-align: center;
}

/* Responsive Rules */
@media screen and (max-width: 455px) {
    .about-wrapper {
        height: 61vh;
        font-size: medium;
    }
}