* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    /* overflow-y: hidden; */
}

.top-bar-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;;
    align-items: center;
    justify-items: center;
    height: 55px;
    position: relative;
    z-index: 2;
    margin-top: 10px;
    margin-bottom: 14px;
}

.menu-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 200px;;
    height:50px;
    margin: auto;
    text-align: center;
    margin-left: 70px;
}