.card-group-wrapper {
    width: 82%;
    margin: auto;
    margin-top: 6vh;
}
.news-wrapper {
    margin-bottom: 25px;
    margin-top: 3%;
}

/* Responsive Rules */
@media screen and (max-width: 455px) {
    .card-group-wrapper {
        width: 61%;
    }
}
@media screen and (max-width: 400px) {
    .card-group-wrapper {
        width: 70%;
    }
}

@media screen and (max-height: 345px) {
    .ui.card {
        height: 52vh;
    }
}
