.dropdown-wrapper {
    width: 97%;
    display: flex;
    justify-content: flex-end;
}

/* Responsive Rules */

@media screen and (max-width: 455px) {
    .dropdown-wrapper {
        justify-content: center;
        width: 100%;
    }
}