/* .back-btn-wrapper {
    width: 50%;
    margin: auto;
    margin-top: 12px;
} */

.load-msg {
    position: absolute;
    margin: auto;
    width: 100%;
    top: 50%;
}

.error-wrapper {
    width: 100%;
    top: 50%;
    position: absolute;
    font-size: 20px;
}