.table-wrapper {
    width: 90%;
    margin: auto;
}

.stats-table-wrapper {
    position: absolute;
    /* top: 32%; */
    top: 24%;
    width: 100%;
    margin: auto;
}

/* Responsive Rules */

@media screen and (max-width: 455px) {
    .stats-table-wrapper {
        top: 26%;
    }
}

@media screen and (max-height: 450px) {
    .stats-table-wrapper {
        top: 50%;
    }
}

/* @media screen and (max-height: 300px) {
    .stats-table-wrapper {
        top: 50%;
    }
} */